html {
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 2em;
}

header, footer, nav {
  display: none;
}

.posts-item:not(:last-child) {
  margin-bottom: 80px;
}

.posts-item__description-link {
  color: inherit;
  text-decoration: none;
}

.under-construction {
  display: none;
}

.post-h2 {
  margin-top: 70px;
}

.post-image {
  width: 100%;
}
